
.box {
  width: 200px;
  height: 200px;
  background-color: red;
}

@keyframes Animation {
  0% { margin-left: 0; }
  50% {
    margin-left: 300px;
    background-color: red;
    }
  100% {
    margin-left: 0;
    border-radius: 30px;
    background-color: grey;
  }
}

#anim {
  animation: Animation;
  animation-duration: 6s;
}
