body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 50px;
  background-color: grey;
  position: relative;
}

.logo {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.75rem;
  left: 1rem;
  color: white;
}

.main > ul {
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  right: 1rem;
}

.main > ul > li {
  display: inline-block;
  margin-left: 1rem;
  height: 100%;
  padding: 0 0.75rem 0 0.75rem;
}

  .main > ul > li > a {
    margin-top: 1rem;
    display: inline-block;
  }

  .main > ul > li > a, .main > ul > li > a:link, .main > ul > li > a:visited {
      color: white;
      text-decoration: none;
  }

  .main > ul > li > a:hover {
    color: black;
    text-decoration: none;
  }

  .main > ul > li.active {
    background-color: black;
  }

/* Verhältnis 1920 x 400 => 100/1920*400 =  */
.header-image {
  height: 0;
  width: 100%;
  padding: 20.83% 0 0 0;
  background: url(./img/hintergrund.jpg) no-repeat center center;
  background-size: contain;
}


/* Grid System */

.container {
  width: 95%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.row {
}

[class*='col-'] {
  float: left;
  background-color: white;
  height: 100%;
  border: 1px solid black;
  padding: .8rem;
}

[class*='col-'] p {
  background-color: #CCC;
  margin: 0;
  padding: 0;
  text-align: center;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-6 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .col-1 {
    width: 100%;
  }
}
